<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <table style="width: 700px;margin: 0 auto;border: 1px solid #ececec;border-spacing: 0px;font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <table style="width: 100%;background: #192331;padding: 10px 15px;border-spacing: 0;">
                    <tr>
                        <td>
                            <p style="margin: 0;"><a href="#"><img src="images/easotrip-logo.png" alt=""></a></p>
                        </td>
                        <td><p style="margin: 0;text-align: right;color: #fff;">INVOICE</p></td>
                    </tr>
                </table>
                <table style="width: 100%;padding: 10px 15px;border-spacing: 0;">
                    <tr>
                        <td>
                            <p style="margin:0;font-size: 14px;font-weight: 400;line-height: 20px;">Booking Date <strong style="display: block;"> 04 Mar 2023</strong></p>
                        </td>
                        <td>
                            <p style="margin:0;font-size: 14px;font-weight: 400;line-height: 20px;text-align: right;">Booking ID<strong style="display: block;">10314332</strong></p>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%;padding: 8px 10px;border-spacing: 0;">
                    <tr>
                        <td style="border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;padding: 15px 0;">
                            <p style="margin:0 0 10px;font-size: 18px;font-weight: 600;color: #192334;">Travel Agent Details</p>
                            <p style="margin: 0;">
                                <a href="#" style="font-size: 15px;text-decoration: none;color: #1e8ba4;font-weight: 600;">Easeotrip</a>
                                <span style="font-size: 13px;margin: 0 8px;">|</span>
                                <a href="tel:18003136209" style="font-size: 12px;text-decoration: none;color: #424242;font-weight: 600;"><img src="images/invoice-phone.png" alt="" style="margin: 0px 5px -2px 0px;"> 18003136209</a>
                                <span style="font-size: 13px;margin: 0 8px;">|</span>
                                <a href="mailto:sales@easeotrip.com" style="font-size: 12px;text-decoration: none;color: #424242;font-weight: 600;"><img src="images/invoice-email.png" alt="" style="margin: 0px 5px -2px 0px;"> sales@easeotrip.com</a>
                            </p>
                            <p style="margin:15px 0 5px;font-size: 12px;text-decoration: none;color: #424242;font-weight: 600;"><img src="images/invoice-map.png" alt="" style="margin: 0px 5px -2px 0px;">204-207 HB TWIN TOWER NSP, New Delhi, New Delhi, India - 110034
                            </p>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%;padding: 8px 10px;border-spacing: 0;">
                    <tr>
                        <td>
                            <p style="margin:0 0 10px;font-size: 18px;font-weight: 600;color: #192334;">Payment Details</p>
                            <p style="margin:15px 0 5px;font-size: 14px;text-decoration: none;color: #008D45;font-weight: 400;"><img src="images/invoice-check.png" alt="" style="margin: 0px 5px 0px 0px;">You have paid ₹ 900.0 for convenience fee.</p>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%;padding: 8px 10px;border-spacing: 0;">
                    <tr style="background: #f1f2f2;">
                        <th style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">Due Date</p>
                        </th>
                        <th style="padding: 5px 10px;border: 1px solid #dddddd;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">Payment</p>
                        </th>
                        <th style="padding: 5px 10px;border: 1px solid #dddddd;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">Status</p>
                        </th>
                        <th style="padding: 5px 10px;border: 1px solid #dddddd;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">Installment Amount</p>
                        </th>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">04 Mar 2023</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">To TT</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #008D45;"><img src="images/invoice-check.png" alt="" style="margin: 0px 5px 0px 0px;"> Paid</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: right;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">₹112,500.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">04 Mar 2023</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">To TT</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #008D45;"><img src="images/invoice-check.png" alt="" style="margin: 0px 5px 0px 0px;"> Paid</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: right;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">₹50,000.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">22 Mar 2023</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">To TT</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #f5bf10;"><img src="images/invoice-pending.png" alt="" style="margin: 0px 5px 0px 0px;"> Pending </p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: right;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">₹74,937.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">04 Apr 2023</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">To TT</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #f5bf10;"><img src="images/invoice-pending.png" alt="" style="margin: 0px 5px 0px 0px;"> Pending </p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: right;"> 
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">₹74,938.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: left;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">04 Mar 2023</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">To TT</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: center;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #008D45;"><img src="images/invoice-check.png" alt="" style="margin: 0px 5px 0px 0px;"> Paid</p>
                        </td>
                        <td style="padding: 5px 10px;border: 1px solid #dddddd;text-align: right;">
                            <p style="margin: 0;font-size: 13px;font-weight: 600;color: #000;">₹ 900.0 convenience fee*</p>
                            <p style="margin:10px 0 0;font-size: 13px;font-weight: 600;color: #000;">@ ₹300.00/ adult</p>
                            </td>
                    </tr>
                </table>

               
            </td>
        </tr>
    </table>
</body>
</html>